# Node.js
node_modules/
.env
.env.local
.next/
npm-debug.log*

# Logs
logs/
*.log
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# IDE-specific files
.idea/
.vscode/
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db
