@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary bg-white text-white w-screen m-0 p-0 overflow-x-hidden leading-loose;
  }
  :root {
    --radius: 0.5rem;
  }
}
